<main class="error-layout">
  <div class="container">
    <div class="content">
      <img
        class="logo"
        src="/images/icons/logo.svg"
        alt="TIM Upsell Controle"
        width="206"
      />
      <img src="/images/icons/warn-yellow.svg" alt="Atenção" class="icon" />
      <h2 class="title">
        Ops! <br />
        Página não encontrada.
      </h2>
      <p class="subtitle">
        Acesse a tela inicial e conheça ofertas imperdíveis para você.
      </p>
      <a
        href="/"
        target="_blank"
        class="gn-button pm-button"
        id="btn-pagina-inicial-erro-404"
      >
        Ir para a página inial
      </a>
    </div>
  </div>
</main>
