@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap);

@font-face {
  font-family: "TIM Sans";
  src: url("/fonts/TIMSans-Bold.woff2") format("woff2"),
    url("/fonts/TIMSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TIM Sans";
  src: url("/fonts/TIMSans-Thin.woff2") format("woff2"),
    url("/fonts/TIMSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "TIM Sans";
  src: url("/fonts/TIMSans-BoldItalic.woff2") format("woff2"),
    url("/fonts/TIMSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "TIM Sans";
  src: url("/fonts/TIMSans-LightItalic.woff2") format("woff2"),
    url("/fonts/TIMSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "TIM Sans";
  src: url("/fonts/TIMSans-Heavy.woff2") format("woff2"),
    url("/fonts/TIMSans-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "TIM Sans";
  src: url("/fonts/TIMSans-HeavyItalic.woff2") format("woff2"),
    url("/fonts/TIMSans-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "TIM Sans";
  src: url("/fonts/TIMSans-Medium.woff2") format("woff2"),
    url("/fonts/TIMSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TIM Sans";
  src: url("/fonts/TIMSans-Italic.woff2") format("woff2"),
    url("/fonts/TIMSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "TIM Sans";
  src: url("/fonts/TIMSans-Light.woff2") format("woff2"),
    url("/fonts/TIMSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "TIM Sans";
  src: url("/fonts/TIMSans-MediumItalic.woff2") format("woff2"),
    url("/fonts/TIMSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "TIM Sans";
  src: url("/fonts/TIMSans-ThinItalic.woff2") format("woff2"),
    url("/fonts/TIMSans-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "TIM Sans";
  src: url("/fonts/TIMSans-Regular.woff2") format("woff2"),
    url("/fonts/TIMSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
