// titles

.primary-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;

  strong {
    text-transform: uppercase;
  }
}
@include sm {
  .primary-title {
    font-size: 15px;
    line-height: 24px;
  }
}

.secondary-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.tertiary-title {
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;

  strong {
    font-weight: 700;
  }
}
@include sm {
  .tertiary-title {
    font-size: 14px;
    line-height: 20px;
  }
}

.quaternary-title {
  font-size: 24px;
  line-height: 48px;

  strong {
    display: block;
    color: $secondary-color-main;
    font-size: 40px;
    line-height: 48px;
  }

  br {
    display: none;
  }
}
@include sm {
  .quaternary-title {
    font-size: 12px;
    line-height: 20px;

    strong {
      font-size: 20px;
      line-height: 28px;
    }

    br {
      display: block;
    }
  }
}

.quinary-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 16px;
}
@include sm {
  .quinary-title {
    font-size: 16px;
    line-height: 16px;
  }
}

.septenary-title {
  font-size: 30px;
  line-height: 48px;
}
@include sm {
  .septenary-title {
    font-size: 24px;
    line-height: 32px;
  }
}

// paragraph

.primary-paragraph {
  font-size: 18.5px;
  line-height: 24px;
}
@include sm {
  .primary-paragraph {
    font-size: 14px;
    line-height: 16px;
  }
}

.secondary-paragraph {
  font-size: 14px;
  line-height: 16px;
}

.tertiary-paragraph {
  font-size: 20px;
  line-height: 32px;
}
@include sm {
  .tertiary-paragraph {
    font-size: 14px;
    line-height: 24px;
  }
}

// tailwind font-size

.text-xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}
.text-sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}
.text-base {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}
.text-lg {
  font-size: 1.156rem; /* 18.5px */
  line-height: 1.75rem; /* 28px */
}
.text-xl {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}
.text-2xl {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}
.text-3xl {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}
.text-4xl {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}
.text-5xl {
  font-size: 3rem; /* 48px */
  line-height: 1;
}
.text-6xl {
  font-size: 3.75rem; /* 60px */
  line-height: 1;
}
.text-7xl {
  font-size: 4.5rem; /* 72px */
  line-height: 1;
}
.text-8xl {
  font-size: 6rem; /* 96px */
  line-height: 1;
}
.text-9xl {
  font-size: 8rem; /* 128px */
  line-height: 1;
}
