// color
$primary-color-main: #004691;
$primary-color-dark: #003264;

$secondary-color-main: #93c90f;

$tertiary-color-main: #f6e500;

$error-color-main: #ff0000;

$neutral-color-light: #ffffff;
$neutral-color-main: #494949;
$neutral-color-xmain: #252525;
$neutral-color-dark: #000000;

// transition
$primary-transition: all 0.2s ease 0s;
$secondary-transition: all 0.6s ease 0.2s;

// font-family
$primary-fontfamily: "TIM Sans";
$secondary-fontfamily: "Nunito Sans";

// box-shadow
$primary-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
$secondary-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
