<main class="login">
  <div class="container">
    <div class="login-box">
      <img
        class="logo"
        src="/images/icons/logo.svg"
        alt="TIM Upsell Controle"
        width="244"
        height="64.85"
      />
      <h2 class="title">
        <strong>OFERTAS ESPECIAIS</strong>
        para você aproveitar!
      </h2>
      <form class="form">
        <div class="row">
          <input
            id="msisdn"
            name="msisdn"
            type="tel"
            class="input"
            placeholder="Seu número TIM com DDD"
          />
          <p class="helper-text error">Error message</p>
        </div>
      </form>
      <button
        class="gn-button pm-button full"
        id="btn-login-ver-oferta"
        disabled
      >
        Ver ofertas
      </button>
    </div>
  </div>
</main>
<footer class="footer">
  <div class="container">
    <p>
      Desenvolvido por
      <a id="footer-link-mobi" href="https://www.mobi2buy.com" target="_blank"
        >Mobi2buy</a
      >
      |
      <a id="footer-link-fligoo" href="https://fligoo.com/home" target="_blank"
        >Fligoo</a
      >
    </p>
  </div>
</footer>
