<header class="header">
  <div class="container">
    <div class="content">
      <div class="left">
        <a href="/" class="logo">
          <img
            src="/images/logo-tim.svg"
            alt="TIM Controle"
            title="TIM Controle"
          />
        </a>
        <div class="greettings">
          <p class="text-lg">Olá <strong>Fulano</strong>!</p>
          <p class="text-lg">Confira ofertas especiais para você!</p>
        </div>
      </div>
      <div class="numero-login">
        <p class="text-lg">
          <img src="/images/tel.svg" alt="Telefone" />
          (21) 900000001
        </p>
      </div>
    </div>
    <hr class="divider" />
  </div>
</header>
