.modal {
  &.primary {
    .modal-content {
      display: flex;
      flex-direction: column;
      $content-width: 604px;
      @include max-width($content-width);
      margin-right: -100%;
      margin-left: auto;
      height: 100vh;
      transition: margin-right $primary-transition;
      background-color: $neutral-color-light;
      overflow-y: auto;
      /* Firefox */
      & {
        scrollbar-width: thin;
        scrollbar-color: #003264 #dfe9eb;
      }

      /* Chrome, Edge and Safari */
      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-track {
        background-color: #dfe9eb;
      }

      &::-webkit-scrollbar-track:hover {
        background-color: #dfe9eb;
      }

      &::-webkit-scrollbar-track:active {
        background-color: #dfe9eb;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #003264;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: #4789cf;
      }

      &::-webkit-scrollbar-thumb:active {
        background-color: #4789cf;
      }
    }

    &.active .modal-content {
      margin-right: 0px;
    }

    .modal-resume {
      padding: 24px 60px;
      color: $neutral-color-light;
      background-color: $primary-color-main;

      header {
        @include flex-center-between;
        margin-bottom: 24px;

        h2 {
          color: $neutral-color-light;
          font-size: 24px;
          line-height: 36px;
        }
      }

      .close {
        @include square(32px);
        cursor: pointer;
        border: none;
        background-color: $transparent-color;
        @include background-image(pathImages("close.svg"));

        &:hover,
        &:focus {
          opacity: 0.6;
          transition: $primary-transition;
        }
      }

      .title {
        font-size: 22px;
        line-height: 24px;
        color: $secondary-color-main;
        margin-bottom: 24px;
      }

      .benefits {
        display: flex;
        flex-wrap: wrap;

        li {
          display: flex;
          gap: 12px;
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 12px;

          &:nth-child(odd) {
            width: 45%;
          }

          &:nth-child(even) {
            width: 55%;
          }

          &::before {
            content: "";
            @include max-width(14px);
            height: 12px;
            margin-top: 5px;
            @include background-image(pathImages("check.svg"));
          }
        }
      }

      .divider.primary {
        border: none;
        border-top: 1.48px dashed #ffffff33;
        margin-bottom: 12px;
      }

      .apps-container {
        @include flex-align-center;
        margin-bottom: 24px;

        .apps {
          &:nth-child(odd) {
            width: 45%;
          }
          &:nth-child(even) {
            width: 55%;
          }
          p {
            display: flex;
            gap: 12px;
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 12px;

            &::before {
              content: "";
              @include max-width(14px);
              height: 12px;
              margin-top: 5px;
              @include background-image(pathImages("check.svg"));
            }
          }
          .icons {
            @include flex-align-center;
            gap: 8px;
            margin-left: 26px;

            img {
              @include square(36px);
            }
          }
        }
      }

      .divider.secondary {
        border: none;
        border-top: 1.48px solid #ffffff33;
        margin-bottom: 16px;
      }
      .total {
        @include flex-center-between;

        .text {
          font-size: 24px;
          line-height: 36px;
        }
        .value {
          color: $secondary-color-main;
          font-size: 24px;
          line-height: 36px;
          font-weight: 700;
        }
      }
    }
    .modal-confirm {
      padding: 28px 60px;

      h3 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 40px;
      }
      p {
        font-size: 18.5px;
        line-height: 36px;
        margin-bottom: 24px;
      }
      .cpf-container {
        @include flex-align-center;
        gap: 16px;
        margin-bottom: 24px;

        .digits {
          @include flex-align-center;
          .input {
            @include square(64px);
            font-size: 32px;
            border-radius: 12px;
            text-align: center;
            padding: 0px;
            margin-right: 16px;
            transition: $primary-transition;

            &:last-child {
              margin-right: 0px;
            }

            /* animation */
            &:focus,
            &:hover {
              $color: $primary-color-main;

              box-shadow: 1px 1px 12px 1px $color;
              -webkit-box-shadow: 1px 1px 12px 1px $color;
              -moz-box-shadow: 1px 1px 12px 1px $color;
            }
          }
        }

        .hidden-cpf {
          font-size: 46px;
          line-height: 36px;
          color: $primary-color-main;
          font-weight: 700;
        }
      }
    }
  }
}
@include sm {
  .modal.primary {
    .modal-resume {
      padding: 16px 40px;

      header {
        margin-bottom: 16px;

        h2 {
          font-size: 18.5px;
          line-height: 24px;
        }
      }

      .close {
        @include square(24px);
      }

      .title {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 16px;
      }

      .benefits {
        li {
          display: flex;
          gap: 8px;
          font-size: 12px;
          line-height: 16px;
          margin-bottom: 8px;

          &::before {
            content: "";
            @include max-width(10px);
            height: 8px;
            margin-top: 4px;
          }
        }
      }

      .divider.primary {
        margin-bottom: 8px;
      }

      .apps-container {
        @include flex-align-center;
        margin-bottom: 16px;

        .apps {
          p {
            display: flex;
            gap: 8px;
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 8px;

            &::before {
              content: "";
              @include max-width(10px);
              height: 8px;
              margin-top: 4px;
            }
          }
          .icons {
            @include flex-align-center;
            gap: 6px;
            margin-left: 18px;

            img {
              @include square(24px);
            }
          }
        }
      }

      .divider.secondary {
        margin-bottom: 10px;
      }
      .total {
        .text {
          font-size: 18.5px;
          line-height: 24px;
        }
        .value {
          font-size: 18.5px;
          line-height: 24px;
        }
      }
    }
    .modal-confirm {
      padding: 16px 40px;

      h3 {
        font-size: 18.5px;
        line-height: 24px;
        margin-bottom: 24px;
      }
      p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 16px;
      }
      .cpf-container {
        gap: 8px;

        .digits {
          .input {
            @include square(40px);
            font-size: 18.5px;
            border-radius: 8px;
            margin-right: 8px;
          }
        }

        .hidden-cpf {
          font-size: 39px;
          line-height: 24px;
        }
      }
    }
  }
}
@media (max-width: 375px) {
  .modal.primary {
    .modal-confirm {
      .cpf-container {
        .hidden-cpf {
          font-size: 27px;
        }
      }
    }
  }
}

@include xs {
  .modal.primary {
    .modal-confirm {
      .cpf-container {
        .digits {
          .input {
            @include square(36px);
          }
        }
        .hidden-cpf {
          font-size: 22px;
        }
      }
    }
  }
}
