.banner {
  @include background-image("/images/banner.png");
  border-bottom: 8px solid $neutral-color-light;

  .container {
    padding-top: 90px;
    min-height: 393px;
  }

  h2 {
    @include max-width(640px, true);

    color: $neutral-color-light;

    strong {
      color: $secondary-color-main;
    }

    br {
      display: none;
    }

    &.metis {
      br {
        display: block;
      }

      text-align: center;
    }
  }
}

@include lg {
  .banner {
    background-position: top center;
  }
}

@include sm {
  .banner {
    background-image: url("/images/banner-mobile.png");

    padding-top: 32px;
    min-height: 339px;
    border-bottom: none;

    .container {
      padding: 0;
      min-height: auto;
    }
    h2 {
      text-align: center;
      @include max-width(165px, true);

      br {
        display: block;
      }

      &.metis {
        br {
          display: none;
        }
      }
    }
  }
}
