.slider-for {
  margin-top: -150px;
}

.regularOffers,
.especialOffers {
  display: none !important;

  &.active,
  &.active {
    display: block !important;
  }
}

.box .content {
  width: 100%;
  max-width: 312px;
  margin: 0px auto 0px;
  background-color: $neutral-color-light;
  border-radius: 16px;
  box-shadow: $primary-box-shadow;
  outline: none;

  header {
    text-align: center;
    padding: 16px;
    @include border-bottom;

    .offer-name {
      color: $primary-color-main;
    }
    .secondary-paragraph:first-of-type {
      margin-bottom: 8px;
    }
    .bonus-bank {
      span {
        font-weight: bold;
        color: $primary-color-main;
      }
    }
  }

  section {
    padding: 16px;
    @include border-bottom;

    .price {
      font-family: $primary-fontfamily;
      width: fit-content;
      margin: 0px auto;
      margin-bottom: 8px;

      small {
        text-align: center;
      }
    }

    .old-price s {
      text-decoration: none;
      position: relative;
      &::before {
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0;
        left: -2%;
        margin: auto;
        content: "";
        display: block;
        width: 104%;
        height: 1px;
        background-color: $error-color-main;
      }
    }

    .new-price {
      display: flex;
      align-items: flex-start;

      u {
        display: block;
        text-decoration: none;
      }

      & > em {
        font-style: normal;
        u:nth-child(1) {
          font-size: 13.8416px;
          line-height: 12px;
          margin-top: 6px;
        }
        u:nth-child(2) {
          font-size: 30px;
          line-height: 34px;
        }
      }
      & > strong {
        font-size: 44px;
        margin: 4px 3px 0px;
        line-height: 54px;
      }
      & > span {
        font-size: 0.875rem;
        align-self: flex-end;
        u:nth-child(1) {
          font-size: 13.8416px;
          line-height: 17px;
          padding-bottom: 10px;
        }
      }
    }

    .gn-button {
      margin-bottom: 24px;
    }

    .bonus-list {
      width: fit-content;
      margin: 0px auto;

      li {
        @include flex-center-center;
        margin-bottom: 16px;
        text-align: center;

        p {
          max-width: 230px;
          color: $neutral-color-main;
        }

        img {
          margin-right: 8px;
        }

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }

    .apps {
      text-align: center;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0px;
      }

      .top {
        margin-bottom: 8px;
      }

      h3 {
        font-weight: 400;
      }

      .images {
        @include flex-center-center;
        flex-wrap: wrap;
        gap: 4px;
        @include max-width(220px, true);

        img {
          display: block;
          width: 32px;
          height: auto;
          transition: 0.3s;
          outline: none;

          &:hover,
          &:focus {
            opacity: 0.75;
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  footer {
    padding: 16px;
    @include border-bottom;
    @include flex-center-center;

    button {
      border: none;
      text-decoration: none;
      background-color: transparent;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      color: $neutral-color-dark;
      cursor: pointer;
      transition: $primary-transition;
      outline: none;

      span {
        color: $secondary-color-main;
      }

      &:focus,
      &:hover {
        opacity: 0.75;
      }
    }
  }
}
@include md {
  .slider-for {
    margin-top: -180px;
  }

  .box {
    width: 100%;
    max-width: 312px;
    padding: 0px 8px;
  }
}
