.gn-button {
  @include flex-center-center;
  height: 56px;
  padding: 0px 20px;
  font-size: 18.5px;
  font-family: $primary-fontfamily;
  color: $neutral-color-dark;
  cursor: pointer;
  border-radius: 12px;
  border: none;
  outline: none;
  background-color: #ccc;
  transition: opacity 0.2s ease 0s;

  &.full {
    width: 100%;
  }
}
.gn-button:focus,
.gn-button:hover {
  opacity: 0.8;
}
.gn-button:disabled {
  color: #4d4d4d;
  background-color: #dcd2cd;
  cursor: not-allowed;

  &:focus,
  &:hover {
    opacity: 1;
  }
}
.pm-button {
  font-weight: 700;
  color: $primary-color-dark;
  background-color: $secondary-color-main;
}
@include sm {
  .pm-button {
    height: 48px;
  }
}

.sc-button {
  color: #fff;
  background-color: $primary-color-main;
}
