.form {
  // font
  $fontSize: 16;
  $padding: 16px;

  // dimentions
  $inputHeight: 56px;
  $width: 312px;

  // borders
  $border-radius: 8px;
  $primary-border-width: 1px;
  $primary-border: $primary-border-width solid;

  .row {
    position: relative;
    width: 100%;
    max-width: $width;
    margin-bottom: 12px;

    &:last-of-type {
      margin-bottom: 0px;
    }
    &.full {
      max-width: 100%;
    }
  }

  .label {
    display: block;
    margin-bottom: 4px;
  }

  .input,
  .select {
    display: block;
    width: 100%;
    max-width: $width;
    height: $inputHeight;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    color: $neutral-color-dark;
    border-radius: $border-radius;
    padding: $padding;
    outline: none;
    border: $primary-border;
    transition: border $primary-transition;
    background-color: transparent;

    &:focus ~ .label,
    &:hover ~ .label {
      top: -(#{$fontSize}px / 2);
    }

    border-color: #808080;

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }

    &::placeholder {
      color: $neutral-color-dark;
    }

    &.transparent {
      color: transparent;
      user-select: none;

      &::placeholder {
        // color: $primary-color-200;
      }
    }

    &.error {
      border-color: $error-color-main;
    }

    &.success {
      // border-color: $success-color-100;
    }
  }

  // icon on the right side
  // input.input {

  //   &.error,
  //   &.success {
  //     background-repeat: no-repeat;
  //     background-size: 16px;
  //     background-position: calc(100% - $padding) center;
  //   }

  //   &.error {
  //     background-image: url(pathImages("error.svg"));
  //   }

  //   &.success {
  //     background-image: url(pathImages("check-valid.svg"));
  //   }
  // }

  $margin: 4px;

  .input.outline {
    border-top: none;

    & ~ .label {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      max-width: $width;
      display: flex;
      font-size: #{$fontSize}px;
      line-height: #{$fontSize}px;
      transition: font-size $primary-transition;

      padding: 0;
      background-color: transparent;
      pointer-events: none;

      &::before,
      &::after {
        content: "";
        border-top: $primary-border;
        height: 8px;
      }

      &::before {
        border-left: $primary-border;
        border-top-left-radius: $border-radius;
        border-color: $neutral-color-dark;
        width: 11px;
      }

      &::after {
        border-right: $primary-border;
        border-top-right-radius: $border-radius;
        border-color: $neutral-color-dark;
        flex: 1;
      }

      span {
        position: absolute;
        top: calc(#{$inputHeight} / 2 - (#{$fontSize}px / 2));
        left: 16px;
        transition: top $primary-transition;
      }
    }

    &:disabled:focus ~ .label,
    &:disabled:hover ~ .label {
      font-size: #{$fontSize}px;
      line-height: #{$fontSize}px;

      span {
        position: absolute;
        top: calc(#{$inputHeight} / 2 - (#{$fontSize}px / 2));
        left: 16px;
        transition: top $primary-transition;
      }
    }

    &.active ~ .label,
    &:disabled.active ~ .label,
    &:focus ~ .label,
    &:hover ~ .label {
      font-size: #{$fontSize - 2}px;
      line-height: #{$fontSize - 2}px;

      span {
        position: relative;
        top: -8px;
        left: 0px;
      }
    }

    &:disabled:hover ~ .label::before {
      margin-right: 0px;
    }

    &.active ~ .label::before,
    &:disabled.active ~ .label::before,
    &:hover ~ .label::before,
    &:focus ~ .label::before {
      margin-right: $margin;
    }

    &:disabled:hover ~ .label::after {
      margin-left: 0px;
    }

    &.active ~ .label::after,
    &:disabled.active ~ .label::after,
    &:hover ~ .label::after,
    &:focus ~ .label::after {
      margin-left: $margin;
    }

    &:disabled ~ .label {
      opacity: 0.4;
    }

    &.error {
      ~ .label::before,
      ~ .label::after {
        border-color: $error-color-main;
      }
    }

    &.success {
      ~ .label::before,
      ~ .label::after {
        // border-color: $success-color-100;
      }
    }
  }

  .input.filled {
    padding: 24px 16px 8px;

    & ~ .label {
      margin-bottom: 0;
      position: absolute;
      top: calc(#{$inputHeight} / 2 - (#{$fontSize}px / 2));
      left: 16px;
      transition: $primary-transition;
      width: 100%;
      max-width: $width;
      display: flex;
      font-size: #{$fontSize}px;
      line-height: #{$fontSize}px;
      background-color: transparent;
      pointer-events: none;
    }

    &:disabled ~ .label {
      opacity: 0.4;
    }

    &:disabled:hover ~ .label {
      top: calc(#{$inputHeight} / 2 - (#{$fontSize}px / 2));
      font-size: #{$fontSize}px;
    }

    &.active ~ .label,
    &:disabled.active ~ .label,
    &:focus ~ .label,
    &:hover ~ .label {
      font-size: #{$fontSize - 2}px;
      top: 8px;
    }
  }

  .helper-text {
    display: block;
    font-size: 16px;
    line-height: 24px;
    padding: 13px 0px 14px 64px;
    border: 1px solid $neutral-color-main;
    border-radius: 8px;
    margin-bottom: 24px;

    &.error {
      color: $error-color-main;
      border-color: $error-color-main;
      background-image: url("/images/icons/warn-error.svg");
      background-position: 16px;
      background-repeat: no-repeat;
      background-size: 32px;
    }

    &.success {
      // color: $success-color-100;
    }
  }

  .input-container {
    position: relative;

    .right-element {
      position: absolute;
      top: 0px;
      bottom: 0px;
      right: 16px;
      margin: auto;
      height: min-content;

      p {
        background-color: #1a1a1a;
        color: #f1f1f1;
        padding: 4px;
      }
    }

    input[name^="right"] {
      padding-right: 64px;
    }
  }

  .select {
    appearance: none;
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;

    /* For IE10 */
    &::-ms-expand {
      display: none;
    }

    cursor: pointer;
    background-image: url(pathImages("select-arrow.svg"));
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: calc(100% - $padding) center;

    option:first-child {
      display: none;
    }
  }

  textarea.input {
    resize: vertical;
    min-height: $inputHeight * 2;
  }

  // .digits {
  //   @include flex-center-between;
  //   gap: 16px;
  //   @include max-width(224px);

  //   .input {
  //     @include square(64px);
  //     font-size: 32px;

  //     /* animation */
  //     &:focus,
  //     &:hover {
  //       $color: $primary-color-main;

  //       box-shadow: 1px 1px 12px 1px $color;
  //       -webkit-box-shadow: 1px 1px 12px 1px $color;
  //       -moz-box-shadow: 1px 1px 12px 1px $color;
  //     }
  //   }
  // }
}
