@import "../themes/theme";

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
  background-color: rgba(0, 0, 0, 0.6);
  @include flex-center-center;
  z-index: 99;

  &.active,
  &.ativo {
    opacity: 1;
    pointer-events: all;
  }

  .content {
    position: relative;
    width: 100%;
    max-width: 312px;
    padding: 24px 32px;
    margin: 24px;
    background-color: $neutral-color-light;
    border-radius: 16px;
    box-shadow: $primary-box-shadow;
    text-align: center;

    .top img {
      // margin-bottom: 8px;
    }

    .mid {
      margin-bottom: 24px;

      h3 {
        margin-bottom: 8px;
      }
      p:first-of-type {
        margin-bottom: 4px;
      }
    }
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: transparent;
    @include background-image("/images/icons/close-black.svg");
  }
}

.modal-details {
  .content {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    max-width: 760px;
    text-align: left;
    color: $neutral-color-light;

    .top {
      background: linear-gradient(180deg, #002e46 34.82%, #012030 100%);
      border-radius: 8px 8px 0px 0px;
      padding: 16px 32px;
      margin-bottom: 0;

      h2 {
        margin-bottom: 8px;
      }
    }

    .mid {
      flex: 1;
      padding: 24px;
      margin-bottom: 0;
      border-radius: 0px;
      color: $neutral-color-dark;
    }

    .table {
      max-height: 440px;
      overflow-y: scroll;
      @include flex-space-between;
      flex-wrap: wrap;
      row-gap: 40px;
      min-height: 100%;

      .title {
        width: 100%;
        max-width: 154px;
        h3 {
          color: $primary-color-main;
          font-size: 16px;
          line-height: 20px;
        }
      }
      .text {
        width: 100%;
        max-width: 412px;
        p {
          font-size: 14px;
          line-height: 24px;
          margin-bottom: 4px;
        }
        p:last-child {
          margin-bottom: 0px;
        }
      }
      .app {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 32px;

        .image {
          margin-right: 16px;
          img {
            width: 32px;
            height: auto;
          }
        }
        .text-content {
          width: 100%;
          max-width: 312px;
          .name {
            margin-top: 4px;
            margin-bottom: 8px;
            font-size: 14px;
            line-height: 24px;
          }
        }
      }
    }
  }
  .close {
    top: 32px;
    right: 32px;
    background-image: url("/images/icons/close-white.svg");
  }
}
@include sm {
  .modal-details {
    .close {
      top: 28px;
      right: 24px;
    }
    .content {
      margin: 0;
      height: 100vh;
      border-radius: 0px;

      .top {
        padding: 16px 24px;
        border-radius: 0px;

        h2 {
          font-size: 16px;
          line-height: 24px;
        }
      }
      .table {
        row-gap: 16px;

        .title {
          max-width: 100%;
        }
        .text {
          margin-bottom: 24px;
        }
        .app {
          flex-wrap: nowrap;
          margin-bottom: 16px;
        }
      }
    }
  }
}

.modal-checkout {
  display: block;

  .content {
    $width: 617px;

    text-align: left;
    position: absolute;
    top: 0;
    right: -$width;
    margin: 0;
    padding: 56px 56px 32px;
    max-width: $width;
    height: 100vh;
    border-radius: 0px;
    color: $neutral-color-light;
    background-color: $primary-color-main;
    transition: $secondary-transition;
  }

  &.active .content,
  &.ativo .content {
    right: 0;
  }

  .top {
    h3 {
      margin-bottom: 40px;
    }

    .divider {
      opacity: 0.5;
      border: none;
      border-top: 1px solid $neutral-color-light;
      margin: 16px 0px;
    }

    li {
      font-size: 18px;
      line-height: 16px;
      margin-bottom: 8px;

      &::before {
        content: "";
        display: inline-block;
        background: url("/images/icons/check.svg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 16px;
        height: 13px;
        margin-right: 8px;
      }
    }

    p.sign {
      display: inline-block;
      font-size: 18px;
      margin-bottom: 1rem;
    }

    .unlimiteds-signatures {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-bottom: 1rem;
    }

    .signatures,
    .unlimiteds {
      display: flex;
      gap: 0.75rem;

      img {
        margin-top: -2px;
        width: 44px;
        height: 44px;
      }

      .plus {
        width: 38px;
        line-height: 36px;
        border: 1px solid #ffffff;
        border-radius: 4px;
        text-align: center;
        font-weight: 700;
        font-size: 26px;
      }
    }
  }

  .mid {
    .row {
      max-width: 100%;
    }
    .validate-field {
      @include flex-center-between;
      padding: 16px;
      border-radius: 8px;
      background-color: $primary-color-dark;
      margin-bottom: 24px;
    }
    h4 {
      font-size: 22px;
      max-width: 216px;
    }

    .digits {
      @include flex-center-between;
      gap: 12px;

      input[type="number"] {
        width: 64px;
        height: 64px;
        border-radius: 8px;
        border: none;
        font-weight: 700;
        font-size: 32px;
        text-align: center;
        outline: none;
        transition: $primary-transition;

        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
        &:focus {
          box-shadow: 0 0 12px 2px $secondary-color-main;
        }
      }
    }

    .pay-check {
      input[type="checkbox"] {
        display: none;

        & + label {
          @include flex-align-center;
          color: $neutral-color-light;
          gap: 16px;
        }
        & + label::before {
          content: "";
          min-width: 32px;
          height: 32px;
          background-color: $neutral-color-light;
          border-radius: 8px;
        }
        &:checked + label {
          color: $neutral-color-light;
        }
        &:checked + label::before {
          $bg-size: 20px 15px;
          @include background-image("/images/icons/check-blue.svg", $bg-size);
        }
      }
    }

    .view-doc {
      margin-left: 48px;
      color: $neutral-color-light;
      text-decoration: underline;
    }
  }

  .close {
    background-image: url("/images/icons/close-white.svg");
  }

  .bottom .gn-button {
    max-width: 100%;
    font-size: 24px;

    &.button-modal-desactivated {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
@include sm {
  .modal-checkout {
    .content {
      padding: 72px 24px 24px;
    }
    .top {
      h3 {
        margin-bottom: 16px;
      }
      ul {
        margin-bottom: 24px;
      }
      li {
        font-size: 12px;
      }
      p.sign {
        font-size: 0.75rem;
      }
      .unlimiteds-signatures {
        gap: 0.75rem;
      }
      .unlimiteds,
      .signatures {
        gap: 0.25rem;

        img {
          width: 32px;
          height: 32px;
        }
        .plus {
          width: 26px;
          line-height: 24px;
          font-size: 18px;
        }
      }
    }
    .mid {
      h4 {
        font-size: 14px;
        line-height: 24px;
        max-width: 136px;
      }
      .digits {
        gap: 8px;

        input[type="number"] {
          width: 40px;
          height: 40px;
          font-size: 24px;
        }
      }
    }
    .bottom {
      .gn-button {
        font-size: 1rem;
        line-height: 56px;
      }
    }
  }
}
@include media-height(546px) {
  .modal-checkout .content {
    overflow-y: scroll;
  }
}
