.header {
  .logo {
    font-size: 0px;
    margin-bottom: 64px;

    img {
      display: block;
      margin: 0px auto 0px;
      width: 194px;
      height: auto;
    }
  }
}
@include sm {
  .header {
    .logo {
      margin-bottom: 40px;
    }
  }
}
