@import "../themes/theme";
@import "../utilities/mixins";

.tooltip-container {
  .tooltip {
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    display: inline-block;
    z-index: 1;

    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    border-radius: 8px;
    box-shadow: $secondary-box-shadow;

    &.primary {
      background: $neutral-color-xmain;
      color: $neutral-color-light;
      padding: 8px 12px;
      max-width: 160px;
    }

    &.secondary {
      background: $neutral-color-light;
      color: $neutral-color-xmain;
      padding: 8px 12px;
      max-width: 160px;
      text-align: center;
    }

    &.tertiary {
      margin-top: 16px !important;
      background: $neutral-color-light;
      color: $neutral-color-xmain;
      padding: 8px 12px;
      max-width: 160px;
      text-align: center;
    }

    > img {
      margin-top: 0px;
      position: relative;
      top: 4px;
    }
  }

  .tooltip[data-show] {
    opacity: 1;
    pointer-events: all;
  }

  .arrow,
  .arrow::before {
    position: absolute;
    left: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background: inherit;
  }

  .tooltip.tertiary {
    .arrow,
    .arrow::before {
      width: 32px;
      height: 32px;
      z-index: -1;
    }
  }

  .arrow {
    visibility: hidden;
  }

  .arrow::before {
    visibility: visible;
    content: "";
    transform: rotate(45deg);
  }

  .tooltip {
    $distance: -4px;

    &[data-popper-placement^="top"] > .arrow {
      bottom: $distance;
    }

    &[data-popper-placement^="bottom"] > .arrow {
      top: $distance;
    }

    &[data-popper-placement^="left"] > .arrow {
      right: $distance;
    }

    &[data-popper-placement^="right"] > .arrow {
      left: $distance;
    }

    &.tertiary {
      $distance: -16px;

      &[data-popper-placement^="top"] > .arrow {
        bottom: $distance;
      }

      &[data-popper-placement^="bottom"] > .arrow {
        top: $distance;
      }

      &[data-popper-placement^="left"] > .arrow {
        right: $distance;
      }

      &[data-popper-placement^="right"] > .arrow {
        left: $distance;
      }
    }
  }
}

@include md {
  .tooltip-container {
    .tooltip {
      &.tertiary {
        max-width: 124px;
      }
    }
  }
}
