<div class="modal secondary active" id="modal-detalhes">
  <div class="modal-content">
    <div class="modal-header">
      <div class="left">
        <h2>TIM Controle Smart 4.0 | 39GB</h2>
        <p>R$75,99/mês</p>
      </div>
      <div class="right">
        <button class="close" id="btn-fechar-modal-detalhes"></button>
      </div>
    </div>
    <div class="modal-body">
      <div class="modal-body-section">
        <h3>Bônus</h3>
        <p>
          +20GB de bônus por tempo limitado <br />
          +5GB na abertura de conta e pagamento através do C6 Bank
        </p>
      </div>
      <div class="modal-body-section">
        <h3>Ligações e SMS Ilimitados</h3>
        <p>
          SMS ilimitados e ligações liberadas para fixo e celular para qualquer
          operadora do Brasil usando 41 para ligações a distância.
        </p>
      </div>
      <div class="modal-body-section">
        <h3>Desconto mediante permanência</h3>
        <p>
          R$99,99 na fatura ou no cartão de crédito mediante permanência de 12
          meses. R$144,99 na fatura sem permanência mínima.
        </p>
      </div>
      <div class="modal-body-section">
        <h3>Pacote de Internet</h3>
        <p>
          <strong>39GB:</strong> <strong>14GB</strong> do plano
          <strong>+ 20GB</strong> de bônus por tempo limitado
          <strong>+5GB</strong> na abertura de conta C6 Bank.
        </p>
        <p>
          Velocidade reduzida após o consumo do pacote principal de internet.
        </p>
      </div>
      <div class="modal-body-section">
        <h3>Pacote de Internet</h3>
        <div class="table">
          <div class="table-row">
            <div class="icon-container">
              <img src="/images/icons/ico-whatsapp.svg" alt="WhatsApp" />
            </div>
            <div class="text-container">
              <h4>WhatsApp</h4>
              <p>Whatsapp não inclui chamadas de voz e vídeo.</p>
            </div>
          </div>
          <div class="table-row">
            <div class="icon-container">
              <img src="/images/icons/ico-facebook.svg" alt="Facebook" />
            </div>
            <div class="text-container">
              <h4>Facebook</h4>
              <p>Facebook não inclui transmissão de vídeo ao vivo.</p>
            </div>
          </div>
          <div class="table-row">
            <div class="icon-container">
              <img src="/images/icons/ico-messenger.svg" alt="Messenger" />
            </div>
            <div class="text-container">
              <h4>Messenger</h4>
              <p>Messenger não inclui chamadas de voz e vídeo.</p>
            </div>
          </div>
          <div class="table-row">
            <div class="icon-container">
              <img src="/images/icons/ico-twitter.svg" alt="Twitter" />
            </div>
            <div class="text-container">
              <h4>Twitter</h4>
              <p>Twitter não inclui chamadas de voz e vídeo.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body-section">
        <h3>Pacote de Internet</h3>
        <div class="table">
          <div class="table-row">
            <div class="icon-container">
              <img
                src="/images/icons/bancah-premium.svg"
                alt="Bancah Premium + Jornais"
              />
            </div>
            <div class="text-container">
              <h4>Bancah Premium + Jornais</h4>
            </div>
          </div>
          <div class="table-row">
            <div class="icon-container">
              <img
                src="/images/icons/tim-seguranca.svg"
                alt="TIM Segurança Digital"
              />
            </div>
            <div class="text-container">
              <h4>TIM Segurança Digital</h4>
            </div>
          </div>
          <div class="table-row">
            <div class="icon-container">
              <img src="/images/icons/aya-books.svg" alt="Aya Books" />
            </div>
            <div class="text-container">
              <h4>Aya Books</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
