<div class="modal tertiary active" id="modal-error">
  <div class="modal-content">
    <button class="close" id="btn-fechar-modal-erro"></button>
    <img class="icon-error" src="/images/icons/warn-error.svg" alt="Atenção" />
    <h2 class="title">Que pena!</h2>
    <p class="subtitle">
      Confira se você digitou o telefone corretamente ou aguarde que, em breve,
      traremos ofertas incríveis para você!
    </p>
    <button class="gn-button pm-button full" id="btn-modal-digitar-novamente">
      Digitar novamente
    </button>
  </div>
</div>
