<main class="success">
  <div class="container">
    <div class="content">
      <img
        class="logo"
        src="/images/icons/logo.svg"
        alt="TIM Upsell Controle"
        width="206"
      />
      <h2 class="title">Obrigado!</h2>
      <p class="subtitle">
        <strong>
          Agora falta pouco. Em até 72 horas enviaremos um SMS confirmando a
          renovação do seu plano.
        </strong>
      </p>
      <p>
        Lembre-se que o desconto e o bônus de internet são válidos por 12 meses,
        mas o valor do plano pode variar com os reajustes da operadora.
      </p>
    </div>
  </div>
</main>
<footer class="footer">
  <div class="container">
    <p>
      Desenvolvido por
      <a id="footer-link-mobi" href="https://www.mobi2buy.com" target="_blank"
        >Mobi2buy</a
      >
      |
      <a id="footer-link-fligoo" href="https://fligoo.com/home" target="_blank"
        >Fligoo</a
      >
    </p>
  </div>
</footer>
