.banner {
  // @include background-image(pathImages("banner.png"));
  background-color: $primary-color-main;
  color: $neutral-color-light;

  .container {
    padding-top: 80px;
    min-height: 376px;
  }

  .content {
    @include max-width(400px);

    h2 {
      color: $secondary-color-main;
    }
  }
}

@include md {
  .banner {
    // background-image: url("/images/banner-mobile.png");

    .container {
      padding-top: 40px;
      min-height: 296px;
    }

    .content {
      @include max-width(202px);
    }
  }
}
