.offers {
  background-color: $primary-color-dark;
  @include primary-gradient;

  .container {
    height: 540px;
    // padding-bottom: 40px;

    .pull-element-down {
      margin-bottom: -157px;
      height: 1px;
    }

    .cards {
      .card {
        margin: 0px auto;
      }
    }
  }
}
@include sm {
  .offers {
    .container {
      height: 620px;

      .pull-element-down {
        margin-bottom: -97px;
      }
    }
  }
}
