@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap);
@font-face {
  font-family: "TIM Sans";
  src: url("/fonts/TIMSans-Bold.woff2") format("woff2"), url("/fonts/TIMSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "TIM Sans";
  src: url("/fonts/TIMSans-Thin.woff2") format("woff2"), url("/fonts/TIMSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "TIM Sans";
  src: url("/fonts/TIMSans-BoldItalic.woff2") format("woff2"), url("/fonts/TIMSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "TIM Sans";
  src: url("/fonts/TIMSans-LightItalic.woff2") format("woff2"), url("/fonts/TIMSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "TIM Sans";
  src: url("/fonts/TIMSans-Heavy.woff2") format("woff2"), url("/fonts/TIMSans-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "TIM Sans";
  src: url("/fonts/TIMSans-HeavyItalic.woff2") format("woff2"), url("/fonts/TIMSans-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "TIM Sans";
  src: url("/fonts/TIMSans-Medium.woff2") format("woff2"), url("/fonts/TIMSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TIM Sans";
  src: url("/fonts/TIMSans-Italic.woff2") format("woff2"), url("/fonts/TIMSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "TIM Sans";
  src: url("/fonts/TIMSans-Light.woff2") format("woff2"), url("/fonts/TIMSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "TIM Sans";
  src: url("/fonts/TIMSans-MediumItalic.woff2") format("woff2"), url("/fonts/TIMSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "TIM Sans";
  src: url("/fonts/TIMSans-ThinItalic.woff2") format("woff2"), url("/fonts/TIMSans-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "TIM Sans";
  src: url("/fonts/TIMSans-Regular.woff2") format("woff2"), url("/fonts/TIMSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: "TIM Sans";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

a,
button {
  transition: 0.3s;
  outline: none;
}
a:focus, a:hover,
button:focus,
button:hover {
  opacity: 0.6;
}

ul {
  list-style: none;
}

.container {
  max-width: 63rem;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    margin-left: 24px;
    margin-right: 24px;
  }
}
.primary-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
}
.primary-title strong {
  text-transform: uppercase;
}

@media (max-width: 480px) {
  .primary-title {
    font-size: 15px;
    line-height: 24px;
  }
}
.secondary-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.tertiary-title {
  font-size: 48px;
  line-height: 48px;
}

.tertiary-subtitle {
  font-size: 32px;
  line-height: 48px;
}

@media (max-width: 768px) {
  .tertiary-title {
    font-size: 24px;
    line-height: 24px;
  }
  .tertiary-subtitle {
    font-size: 18px;
    line-height: 24px;
  }
}
.quaternary-title {
  font-size: 24px;
  line-height: 48px;
}
.quaternary-title strong {
  display: block;
  color: #93c90f;
  font-size: 40px;
  line-height: 48px;
}
.quaternary-title br {
  display: none;
}

@media (max-width: 480px) {
  .quaternary-title {
    font-size: 12px;
    line-height: 20px;
  }
  .quaternary-title strong {
    font-size: 20px;
    line-height: 28px;
  }
  .quaternary-title br {
    display: block;
  }
}
.quinary-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 16px;
}

@media (max-width: 480px) {
  .quinary-title {
    font-size: 16px;
    line-height: 16px;
  }
}
.septenary-title {
  font-size: 30px;
  line-height: 48px;
}

@media (max-width: 480px) {
  .septenary-title {
    font-size: 24px;
    line-height: 32px;
  }
}
.primary-paragraph {
  font-size: 18.5px;
  line-height: 24px;
}

@media (max-width: 480px) {
  .primary-paragraph {
    font-size: 14px;
    line-height: 16px;
  }
}
.secondary-paragraph {
  font-size: 14px;
  line-height: 16px;
}

.tertiary-paragraph {
  font-size: 20px;
  line-height: 32px;
}

@media (max-width: 480px) {
  .tertiary-paragraph {
    font-size: 14px;
    line-height: 24px;
  }
}
.gn-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  padding: 0px 20px;
  font-size: 18.5px;
  font-family: "TIM Sans";
  color: #000000;
  cursor: pointer;
  border-radius: 12px;
  border: none;
  outline: none;
  background-color: #ccc;
  transition: opacity 0.2s ease 0s;
}
.gn-button.full {
  width: 100%;
}

.gn-button:focus,
.gn-button:hover {
  opacity: 0.8;
}

.gn-button:disabled {
  color: #4d4d4d;
  background-color: #dcd2cd;
  cursor: not-allowed;
}
.gn-button:disabled:focus, .gn-button:disabled:hover {
  opacity: 1;
}

.pm-button {
  font-weight: 700;
  color: #003264;
  background-color: #93c90f;
}

@media (max-width: 480px) {
  .pm-button {
    height: 48px;
  }
}
.sc-button {
  color: #fff;
  background-color: #004691;
}

.form .row {
  position: relative;
  width: 100%;
  max-width: 384px;
  margin-bottom: 24px;
}
.form .row:last-of-type {
  margin-bottom: 0px;
}
.form .row.full {
  max-width: 100%;
}
.form .label {
  display: block;
  margin-bottom: 4px;
}
.form .input,
.form .select {
  display: block;
  width: 100%;
  max-width: 384px;
  height: 56px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  border-radius: 8px;
  padding: 16px;
  outline: none;
  border: 1px solid;
  transition: border 0.2s ease 0s;
  background-color: #ffffff;
  border-color: #808080;
}
.form .input:focus ~ .label, .form .input:hover ~ .label,
.form .select:focus ~ .label,
.form .select:hover ~ .label {
  top: -16px/2;
}
.form .input:disabled,
.form .select:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.form .input::placeholder,
.form .select::placeholder {
  color: #000000;
}
.form .input.transparent,
.form .select.transparent {
  color: transparent;
  user-select: none;
}
.form .input.error,
.form .select.error {
  border-color: #eb0028;
}
.form .input.outline {
  border-top: none;
}
.form .input.outline ~ .label {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  max-width: 384px;
  display: flex;
  font-size: 16px;
  line-height: 16px;
  transition: font-size 0.2s ease 0s;
  padding: 0;
  background-color: transparent;
  pointer-events: none;
}
.form .input.outline ~ .label::before, .form .input.outline ~ .label::after {
  content: "";
  border-top: 1px solid;
  height: 8px;
}
.form .input.outline ~ .label::before {
  border-left: 1px solid;
  border-top-left-radius: 8px;
  border-color: #000000;
  width: 11px;
}
.form .input.outline ~ .label::after {
  border-right: 1px solid;
  border-top-right-radius: 8px;
  border-color: #000000;
  flex: 1;
}
.form .input.outline ~ .label span {
  position: absolute;
  top: calc(56px / 2 - (16px / 2));
  left: 16px;
  transition: top 0.2s ease 0s;
}
.form .input.outline:disabled:focus ~ .label, .form .input.outline:disabled:hover ~ .label {
  font-size: 16px;
  line-height: 16px;
}
.form .input.outline:disabled:focus ~ .label span, .form .input.outline:disabled:hover ~ .label span {
  position: absolute;
  top: calc(56px / 2 - (16px / 2));
  left: 16px;
  transition: top 0.2s ease 0s;
}
.form .input.outline.active ~ .label, .form .input.outline:disabled.active ~ .label, .form .input.outline:focus ~ .label, .form .input.outline:hover ~ .label {
  font-size: 14px;
  line-height: 14px;
}
.form .input.outline.active ~ .label span, .form .input.outline:disabled.active ~ .label span, .form .input.outline:focus ~ .label span, .form .input.outline:hover ~ .label span {
  position: relative;
  top: -8px;
  left: 0px;
}
.form .input.outline:disabled:hover ~ .label::before {
  margin-right: 0px;
}
.form .input.outline.active ~ .label::before, .form .input.outline:disabled.active ~ .label::before, .form .input.outline:hover ~ .label::before, .form .input.outline:focus ~ .label::before {
  margin-right: 4px;
}
.form .input.outline:disabled:hover ~ .label::after {
  margin-left: 0px;
}
.form .input.outline.active ~ .label::after, .form .input.outline:disabled.active ~ .label::after, .form .input.outline:hover ~ .label::after, .form .input.outline:focus ~ .label::after {
  margin-left: 4px;
}
.form .input.outline:disabled ~ .label {
  opacity: 0.4;
}
.form .input.outline.error ~ .label::before,
.form .input.outline.error ~ .label::after {
  border-color: #eb0028;
}
.form .input.filled {
  padding: 24px 16px 8px;
}
.form .input.filled ~ .label {
  margin-bottom: 0;
  position: absolute;
  top: calc(56px / 2 - (16px / 2));
  left: 16px;
  transition: 0.2s ease 0s;
  width: 100%;
  max-width: 384px;
  display: flex;
  font-size: 16px;
  line-height: 16px;
  background-color: transparent;
  pointer-events: none;
}
.form .input.filled:disabled ~ .label {
  opacity: 0.4;
}
.form .input.filled:disabled:hover ~ .label {
  top: calc(56px / 2 - (16px / 2));
  font-size: 16px;
}
.form .input.filled.active ~ .label, .form .input.filled:disabled.active ~ .label, .form .input.filled:focus ~ .label, .form .input.filled:hover ~ .label {
  font-size: 14px;
  top: 8px;
}
.form .helper-text {
  display: block;
  font-size: 16px;
  line-height: 24px;
  padding: 13px 0px 14px 64px;
  border: 1px solid #494949;
  border-radius: 8px;
  margin-top: 16px;
  margin-bottom: 24px;
}
.form .helper-text.error {
  color: #eb0028;
  border-color: #eb0028;
  background-image: url("/images/icons/warn-error.svg");
  background-position: 16px;
  background-repeat: no-repeat;
  background-size: 32px;
}
.form .input-container {
  position: relative;
}
.form .input-container .right-element {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 16px;
  margin: auto;
  height: min-content;
}
.form .input-container .right-element p {
  background-color: #1a1a1a;
  color: #f1f1f1;
  padding: 4px;
}
.form .input-container input[name^=right] {
  padding-right: 64px;
}
.form .select {
  appearance: none;
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
  /* For IE10 */
  cursor: pointer;
  background-image: url("/images/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: calc(100% - 16px) center;
}
.form .select::-ms-expand {
  display: none;
}
.form .select option:first-child {
  display: none;
}
.form textarea.input {
  resize: vertical;
  min-height: 112px;
}

@media (max-width: 480px) {
  .form .row {
    margin-bottom: 16px;
  }
  .form .helper-text {
    font-size: 14px;
    border-radius: 8px;
  }
}
.card {
  width: 100%;
  max-width: 312px;
}
.card .content {
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  outline: none;
}
.card .content header {
  text-align: center;
  padding: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.card .content header .title {
  font-size: 30px;
  line-height: 48px;
  font-weight: 400;
  color: #004691;
}
.card .content header .subtitle {
  font-size: 14px;
  line-height: 16px;
}
.card .content header .subtitle span {
  font-weight: bold;
  color: #93c90f;
}
.card .content section {
  padding: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.card .content section .price {
  font-family: "TIM Sans";
  width: fit-content;
  margin: 0px auto;
  margin-bottom: 8px;
}
.card .content section .old-price {
  font-size: 14px;
  line-height: 16px;
}
.card .content section .old-price s {
  text-decoration: none;
  position: relative;
}
.card .content section .old-price s::before {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0;
  left: -2%;
  margin: auto;
  content: "";
  display: block;
  width: 104%;
  height: 1px;
  background-color: #eb0028;
}
.card .content section .new-price {
  display: flex;
  align-items: flex-start;
}
.card .content section .new-price u {
  display: block;
  text-decoration: none;
}
.card .content section .new-price > em {
  font-style: normal;
}
.card .content section .new-price > em u:nth-child(1) {
  font-size: 13.8416px;
  line-height: 12px;
  margin-top: 6px;
}
.card .content section .new-price > em u:nth-child(2) {
  font-size: 30px;
  line-height: 34px;
}
.card .content section .new-price > strong {
  font-size: 44px;
  margin: 4px 3px 0px;
  line-height: 54px;
}
.card .content section .new-price > span {
  font-size: 0.875rem;
  align-self: flex-end;
}
.card .content section .new-price > span u:nth-child(1) {
  font-size: 21px;
  line-height: 15px;
  font-weight: 700;
}
.card .content section .new-price > span u:nth-child(2) {
  font-size: 13.8416px;
  line-height: 17px;
  padding-bottom: 10px;
}
.card .content section .gn-button {
  width: 100%;
  margin-bottom: 24px;
}
.card .content section .bonus-list {
  width: fit-content;
  margin: 0px auto;
}
.card .content section .bonus-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  text-align: center;
}
.card .content section .bonus-list li p {
  max-width: 230px;
  color: #494949;
}
.card .content section .bonus-list li img {
  margin-right: 8px;
}
.card .content section .bonus-list li:last-child {
  margin-bottom: 0px;
}
.card .content section .apps {
  text-align: center;
  margin-bottom: 16px;
}
.card .content section .apps:last-child {
  margin-bottom: 0px;
}
.card .content section .apps .top {
  margin-bottom: 8px;
}
.card .content section .apps h3 {
  font-weight: 400;
}
.card .content section .apps .images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4px;
  width: 100%;
  max-width: 220px;
  margin: 0px auto;
}
.card .content section .apps .images img {
  display: block;
  width: 32px;
  height: auto;
  transition: 0.3s;
  outline: none;
}
.card .content section .apps .images img:hover, .card .content section .apps .images img:focus {
  opacity: 0.75;
}
.card .content section .apps:last-child {
  margin-bottom: 0;
}
.card .content footer {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .content footer .button {
  border: none;
  text-decoration: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  cursor: pointer;
  transition: 0.2s ease 0s;
  outline: none;
}
.card .content footer .button span {
  color: #93c90f;
}
.card .content footer .button:focus, .card .content footer .button:hover {
  opacity: 0.75;
}
.card .content footer .line {
  display: block;
  height: 38px;
  border-right: 1px solid rgba(0, 0, 0, 0.1019607843);
  margin: 0px 16px;
}

.login-box {
  padding: 40px 0px;
  width: 100%;
  max-width: 384px;
}
.login-box .logo {
  display: block;
  width: 244px;
  height: auto;
  margin: 0px auto 32px;
}
.login-box .title {
  font-size: 38px;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 32px;
}
.login-box .title strong {
  display: block;
  color: #93c90f;
}

@media (max-width: 480px) {
  .login-box {
    max-width: 328px;
  }
  .login-box .logo {
    width: 160px;
  }
  .login-box .title {
    font-size: 24px;
    line-height: 32px;
  }
}
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease 0s;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
}
.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal.primary .modal-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 604px;
  margin-right: -100%;
  margin-left: auto;
  height: 100vh;
  transition: margin-right 0.2s ease 0s;
  background-color: #ffffff;
  overflow-y: auto;
  /* Firefox */
  /* Chrome, Edge and Safari */
}
.modal.primary .modal-content {
  scrollbar-width: thin;
  scrollbar-color: #003264 #dfe9eb;
}
.modal.primary .modal-content::-webkit-scrollbar {
  width: 10px;
}
.modal.primary .modal-content::-webkit-scrollbar-track {
  background-color: #dfe9eb;
}
.modal.primary .modal-content::-webkit-scrollbar-track:hover {
  background-color: #dfe9eb;
}
.modal.primary .modal-content::-webkit-scrollbar-track:active {
  background-color: #dfe9eb;
}
.modal.primary .modal-content::-webkit-scrollbar-thumb {
  background-color: #003264;
}
.modal.primary .modal-content::-webkit-scrollbar-thumb:hover {
  background-color: #4789cf;
}
.modal.primary .modal-content::-webkit-scrollbar-thumb:active {
  background-color: #4789cf;
}
.modal.primary.active .modal-content {
  margin-right: 0px;
}
.modal.primary .modal-resume {
  padding: 24px 60px;
  color: #ffffff;
  background-color: #004691;
}
.modal.primary .modal-resume header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.modal.primary .modal-resume header h2 {
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
}
.modal.primary .modal-resume .close {
  width: 32px;
  height: 32px;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("/images/icons/close-circle-white.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.modal.primary .modal-resume .close:hover, .modal.primary .modal-resume .close:focus {
  opacity: 0.6;
  transition: 0.2s ease 0s;
}
.modal.primary .modal-resume .title {
  font-size: 22px;
  line-height: 24px;
  color: #93c90f;
  margin-bottom: 24px;
}
.modal.primary .modal-resume .benefits {
  display: flex;
  flex-wrap: wrap;
}
.modal.primary .modal-resume .benefits li {
  display: flex;
  gap: 12px;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 12px;
}
.modal.primary .modal-resume .benefits li:nth-child(odd) {
  width: 45%;
}
.modal.primary .modal-resume .benefits li:nth-child(even) {
  width: 55%;
}
.modal.primary .modal-resume .benefits li::before {
  content: "";
  width: 100%;
  max-width: 14px;
  height: 12px;
  margin-top: 5px;
  background-image: url("/images/icons/check.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.modal.primary .modal-resume .divider.primary {
  border: none;
  border-top: 1.48px dashed rgba(255, 255, 255, 0.2);
  margin-bottom: 12px;
}
.modal.primary .modal-resume .apps-container {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.modal.primary .modal-resume .apps-container .apps:nth-child(odd) {
  width: 45%;
}
.modal.primary .modal-resume .apps-container .apps:nth-child(even) {
  width: 55%;
}
.modal.primary .modal-resume .apps-container .apps p {
  display: flex;
  gap: 12px;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 12px;
}
.modal.primary .modal-resume .apps-container .apps p::before {
  content: "";
  width: 100%;
  max-width: 14px;
  height: 12px;
  margin-top: 5px;
  background-image: url("/images/icons/check.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.modal.primary .modal-resume .apps-container .apps .icons {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 26px;
}
.modal.primary .modal-resume .apps-container .apps .icons img {
  width: 36px;
  height: 36px;
}
.modal.primary .modal-resume .divider.secondary {
  border: none;
  border-top: 1.48px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 16px;
}
.modal.primary .modal-resume .total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal.primary .modal-resume .total .text {
  font-size: 24px;
  line-height: 36px;
}
.modal.primary .modal-resume .total .value {
  color: #93c90f;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
}
.modal.primary .modal-confirm {
  padding: 28px 60px;
}
.modal.primary .modal-confirm h3 {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 40px;
}
.modal.primary .modal-confirm p {
  font-size: 18.5px;
  line-height: 36px;
  margin-bottom: 24px;
}
.modal.primary .modal-confirm .cpf-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}
.modal.primary .modal-confirm .cpf-container .digits {
  display: flex;
  align-items: center;
}
.modal.primary .modal-confirm .cpf-container .digits .input {
  width: 64px;
  height: 64px;
  font-size: 32px;
  border-radius: 12px;
  text-align: center;
  padding: 0px;
  margin-right: 16px;
  transition: 0.2s ease 0s;
  /* animation */
}
.modal.primary .modal-confirm .cpf-container .digits .input:last-child {
  margin-right: 0px;
}
.modal.primary .modal-confirm .cpf-container .digits .input:focus, .modal.primary .modal-confirm .cpf-container .digits .input:hover {
  box-shadow: 1px 1px 12px 1px #004691;
  -webkit-box-shadow: 1px 1px 12px 1px #004691;
  -moz-box-shadow: 1px 1px 12px 1px #004691;
}
.modal.primary .modal-confirm .cpf-container .hidden-cpf {
  font-size: 46px;
  line-height: 36px;
  color: #004691;
  font-weight: 700;
}

@media (max-width: 480px) {
  .modal.primary .modal-resume {
    padding: 16px 40px;
  }
  .modal.primary .modal-resume header {
    margin-bottom: 16px;
  }
  .modal.primary .modal-resume header h2 {
    font-size: 18.5px;
    line-height: 24px;
  }
  .modal.primary .modal-resume .close {
    width: 24px;
    height: 24px;
  }
  .modal.primary .modal-resume .title {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 16px;
  }
  .modal.primary .modal-resume .benefits li {
    display: flex;
    gap: 8px;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 8px;
  }
  .modal.primary .modal-resume .benefits li::before {
    content: "";
    width: 100%;
    max-width: 10px;
    height: 8px;
    margin-top: 4px;
  }
  .modal.primary .modal-resume .divider.primary {
    margin-bottom: 8px;
  }
  .modal.primary .modal-resume .apps-container {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  .modal.primary .modal-resume .apps-container .apps p {
    display: flex;
    gap: 8px;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 8px;
  }
  .modal.primary .modal-resume .apps-container .apps p::before {
    content: "";
    width: 100%;
    max-width: 10px;
    height: 8px;
    margin-top: 4px;
  }
  .modal.primary .modal-resume .apps-container .apps .icons {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-left: 18px;
  }
  .modal.primary .modal-resume .apps-container .apps .icons img {
    width: 24px;
    height: 24px;
  }
  .modal.primary .modal-resume .divider.secondary {
    margin-bottom: 10px;
  }
  .modal.primary .modal-resume .total .text {
    font-size: 18.5px;
    line-height: 24px;
  }
  .modal.primary .modal-resume .total .value {
    font-size: 18.5px;
    line-height: 24px;
  }
  .modal.primary .modal-confirm {
    padding: 16px 40px;
  }
  .modal.primary .modal-confirm h3 {
    font-size: 18.5px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  .modal.primary .modal-confirm p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  .modal.primary .modal-confirm .cpf-container {
    gap: 8px;
  }
  .modal.primary .modal-confirm .cpf-container .digits .input {
    width: 40px;
    height: 40px;
    font-size: 18.5px;
    border-radius: 8px;
    margin-right: 8px;
  }
  .modal.primary .modal-confirm .cpf-container .hidden-cpf {
    font-size: 39px;
    line-height: 24px;
  }
}
@media (max-width: 375px) {
  .modal.primary .modal-confirm .cpf-container .hidden-cpf {
    font-size: 27px;
  }
}
@media (max-width: 320px) {
  .modal.primary .modal-confirm .cpf-container .digits .input {
    width: 36px;
    height: 36px;
  }
  .modal.primary .modal-confirm .cpf-container .hidden-cpf {
    font-size: 22px;
  }
}
.modal.secondary .modal-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 604px;
  margin-right: -100%;
  margin-left: auto;
  height: 100vh;
  background-color: #ffffff;
  transition: margin-right 0.2s ease 0s;
}
.modal.secondary.active .modal-content {
  margin-right: 0px;
}
.modal.secondary .modal-header {
  display: flex;
  justify-content: space-between;
  background-color: #004691;
  padding: 24px 60px;
}
.modal.secondary .modal-header .close {
  width: 32px;
  height: 32px;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("/images/icons/close-circle-white.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.modal.secondary .modal-header .close:hover, .modal.secondary .modal-header .close:focus {
  opacity: 0.6;
  transition: 0.2s ease 0s;
}
.modal.secondary .modal-header h2 {
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 12px;
}
.modal.secondary .modal-header p {
  color: #93c90f;
  font-size: 22px;
  line-height: 24px;
}
.modal.secondary .modal-body {
  overflow-y: auto;
  padding: 32px 60px;
  color: #494949;
  /* Firefox */
  /* Chrome, Edge and Safari */
}
.modal.secondary .modal-body {
  scrollbar-width: thin;
  scrollbar-color: #003264 #dfe9eb;
}
.modal.secondary .modal-body::-webkit-scrollbar {
  width: 10px;
}
.modal.secondary .modal-body::-webkit-scrollbar-track {
  background-color: #dfe9eb;
}
.modal.secondary .modal-body::-webkit-scrollbar-track:hover {
  background-color: #dfe9eb;
}
.modal.secondary .modal-body::-webkit-scrollbar-track:active {
  background-color: #dfe9eb;
}
.modal.secondary .modal-body::-webkit-scrollbar-thumb {
  background-color: #003264;
}
.modal.secondary .modal-body::-webkit-scrollbar-thumb:hover {
  background-color: #4789cf;
}
.modal.secondary .modal-body::-webkit-scrollbar-thumb:active {
  background-color: #4789cf;
}
.modal.secondary .modal-body .modal-body-section {
  margin-bottom: 40px;
  width: 100%;
  max-width: 432px;
}
.modal.secondary .modal-body .modal-body-section:last-child {
  margin-bottom: 0px;
}
.modal.secondary .modal-body .modal-body-section h3 {
  color: #004691;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 24px;
}
.modal.secondary .modal-body .modal-body-section > p {
  font-size: 18.5px;
  line-height: 36px;
  margin-bottom: 12px;
}
.modal.secondary .modal-body .modal-body-section > p:last-child {
  margin-bottom: 0px;
}
.modal.secondary .modal-body .modal-body-section .table .table-row {
  display: flex;
  margin-bottom: 24px;
}
.modal.secondary .modal-body .modal-body-section .table .table-row:last-child {
  margin-bottom: 0px;
}
.modal.secondary .modal-body .modal-body-section .table .icon-container {
  margin-right: 24px;
}
.modal.secondary .modal-body .modal-body-section .table .icon-container img {
  display: block;
  width: 48px;
  height: 48px;
}
.modal.secondary .modal-body .modal-body-section .table .text-container h4 {
  padding-top: 4px;
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 16px;
  color: #000000;
}
.modal.secondary .modal-body .modal-body-section .table .text-container > p {
  font-size: 22px;
}

@media (max-width: 480px) {
  .modal.secondary .modal-header {
    padding: 16px 40px;
  }
  .modal.secondary .modal-header .close {
    width: 24px;
    height: 24px;
  }
  .modal.secondary .modal-header h2 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
  }
  .modal.secondary .modal-header p {
    font-size: 16px;
    line-height: 16px;
  }
  .modal.secondary .modal-body {
    padding: 24px 40px;
  }
  .modal.secondary .modal-body .modal-body-section {
    margin-bottom: 32px;
    width: 100%;
    max-width: 328px;
  }
  .modal.secondary .modal-body .modal-body-section h3 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 16px;
  }
  .modal.secondary .modal-body .modal-body-section > p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
  }
  .modal.secondary .modal-body .modal-body-section .table .table-row {
    margin-bottom: 16px;
  }
  .modal.secondary .modal-body .modal-body-section .table .icon-container {
    margin-right: 16px;
  }
  .modal.secondary .modal-body .modal-body-section .table .icon-container img {
    width: 32px;
    height: 32px;
  }
  .modal.secondary .modal-body .modal-body-section .table .text-container h4 {
    padding-top: 4px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
  }
  .modal.secondary .modal-body .modal-body-section .table .text-container > p {
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  .modal.secondary .modal-header h2,
  .modal.secondary .modal-header p {
    font-size: 14px;
  }
  .modal.secondary .modal-body .modal-body-section > p {
    font-size: 14px;
  }
}
.modal.tertiary {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal.tertiary .modal-content {
  position: relative;
  width: 100%;
  max-width: 312px;
  min-height: 312px;
  max-height: 400px;
  padding: 24px 32px;
  margin: 16px;
  border-radius: 16px;
  background-color: #ffffff;
  text-align: center;
}
.modal.tertiary .modal-content .close {
  position: absolute;
  top: 14px;
  right: 16px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("/images/icons/close-circle-black.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.2s ease 0s;
}
.modal.tertiary .modal-content .close:hover, .modal.tertiary .modal-content .close:focus {
  opacity: 0.6;
}
.modal.tertiary .modal-content .icon-error {
  width: 32px;
  height: 32px;
  margin: 0px auto 16px;
}
.modal.tertiary .modal-content .title {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px;
}
.modal.tertiary .modal-content .subtitle {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}

.login {
  background-color: #004691;
  background: linear-gradient(#004691, #042e5b);
}
.login .container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 48px);
}

.header {
  background-color: #004691;
}
.header .content {
  padding: 24px 0px;
  display: flex;
  justify-content: space-between;
  min-height: 130px;
  color: #ffffff;
}
.header .content .left .logo {
  display: block;
  width: 72px;
  margin-bottom: 24px;
  font-size: 0px;
}
.header .content .left .logo img {
  width: 100%;
  height: auto;
}
.header .content .left .greettings p {
  line-height: 20px;
}
.header .content .left .greettings p:first-child {
  font-weight: bold;
}
.header .content .left .greettings p:first-child strong {
  color: #93c90f;
}
.header .content .numero-login p {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header hr.divider {
  border: none;
  height: 1px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 100%);
}

@media (max-width: 768px) {
  .header .content {
    position: relative;
    padding: 24px 0px 16px;
    min-height: 123.07px;
  }
  .header .content .numero-login {
    position: absolute;
    top: 20px;
    right: 0;
  }
}
.banner {
  background-color: #004691;
  color: #ffffff;
}
.banner .container {
  padding-top: 80px;
  min-height: 376px;
}
.banner .content {
  width: 100%;
  max-width: 400px;
}
.banner .content h2 {
  color: #93c90f;
}

@media (max-width: 768px) {
  .banner .container {
    padding-top: 40px;
    min-height: 296px;
  }
  .banner .content {
    width: 100%;
    max-width: 202px;
  }
}
.offers {
  background-color: #003264;
  background: linear-gradient(#004691, #042e5b);
}
.offers .container {
  height: 540px;
}
.offers .container .pull-element-down {
  margin-bottom: -157px;
  height: 1px;
}
.offers .container .cards .card {
  margin: 0px auto;
}

@media (max-width: 480px) {
  .offers .container {
    height: 620px;
  }
  .offers .container .pull-element-down {
    margin-bottom: -97px;
  }
}
.footer {
  margin-top: auto;
  padding: 11px 0px 12px;
  text-align: center;
  background-color: #003264;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer p,
.footer a {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.footer a {
  font-weight: 700;
}

@media (max-width: 480px) {
  .footer p,
  .footer a {
    font-size: 12px;
  }
}
.checkout.primary {
  min-height: 100vh;
}
.checkout.primary .checkout-container {
  width: 100%;
  max-width: 466px;
  margin: 0px auto;
}
.checkout.primary .checkout-resume {
  color: #ffffff;
  background-color: #004691;
}
.checkout.primary .checkout-resume .checkout-container {
  padding: 48px 45px 36px;
}
.checkout.primary .checkout-resume header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.checkout.primary .checkout-resume header h2 {
  color: #ffffff;
  font-size: 22px;
  line-height: 28px;
}
.checkout.primary .checkout-resume .close {
  width: 28px;
  height: 28px;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("/images/icons/close-circle-white.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.checkout.primary .checkout-resume .close:hover, .checkout.primary .checkout-resume .close:focus {
  opacity: 0.6;
  transition: 0.2s ease 0s;
}
.checkout.primary .checkout-resume .infos .infos-row {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}
.checkout.primary .checkout-resume .infos .name {
  color: #93c90f;
  font-size: 16px;
  font-weight: 700;
  line-height: 22.843px;
  letter-spacing: 0.2px;
}
.checkout.primary .checkout-resume .infos .number {
  font-size: 16px;
  font-weight: 700;
  line-height: 27.412px;
  letter-spacing: 0.2px;
}
.checkout.primary .checkout-resume .infos .change {
  width: 66.245px;
  height: 27.412px;
  border-radius: 13.706px;
  border: 1.142px solid #fff;
  background-color: transparent;
  border-radius: 999px;
  color: #fff;
  margin-right: auto;
  cursor: pointer;
}
.checkout.primary .checkout-resume .divider.secondary {
  border: none;
  border-top: 1.48px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 16px;
}
.checkout.primary .checkout-resume .total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkout.primary .checkout-resume .total .text {
  font-size: 22px;
  line-height: 28px;
}
.checkout.primary .checkout-resume .total .value {
  color: #93c90f;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
}
.checkout.primary .checkout-confirm .checkout-container {
  padding: 25px 45px;
}
.checkout.primary .checkout-confirm h3 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 18px;
}
.checkout.primary .checkout-confirm p.text {
  font-size: 18.5px;
  line-height: 36px;
  margin-bottom: 18px;
}
.checkout.primary .checkout-confirm .confirm-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.checkout.primary .checkout-confirm .confirm-name .full-name {
  font-size: 22px;
  font-weight: 700;
  line-height: 27.412px;
  letter-spacing: 0.275px;
  margin-bottom: 0;
  color: #004691;
}
.checkout.primary .checkout-confirm .confirm-name .input {
  max-width: 218px;
  height: 45.686px;
  border-radius: 9.137px;
}
.checkout.primary .checkout-confirm .cpf-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}
.checkout.primary .checkout-confirm .cpf-container .input {
  width: 46px;
  height: 46px;
  font-size: 32px;
  border-radius: 9.137px;
  text-align: center;
  padding: 0px;
  /* animation */
}
.checkout.primary .checkout-confirm .cpf-container .input:focus, .checkout.primary .checkout-confirm .cpf-container .input:hover {
  box-shadow: 1px 1px 12px 1px #004691;
  -webkit-box-shadow: 1px 1px 12px 1px #004691;
  -moz-box-shadow: 1px 1px 12px 1px #004691;
}
.checkout.primary .checkout-confirm .cpf-container .dot,
.checkout.primary .checkout-confirm .cpf-container .hidden-cpf {
  font-size: 32px;
  line-height: 36px;
  color: #004691;
  font-weight: 700;
}
.checkout.primary .checkout-confirm .gn-button {
  width: 100%;
}

@media (max-width: 480px) {
  .checkout.primary .checkout-container {
    max-width: 100%;
  }
  .checkout.primary .checkout-resume .checkout-container {
    padding: 16px 40px;
  }
  .checkout.primary .checkout-resume header {
    margin-bottom: 24px;
  }
  .checkout.primary .checkout-resume header h2 {
    font-size: 18.5px;
    line-height: 24px;
  }
}
.success {
  background-color: #004691;
  background: linear-gradient(#004691, #042e5b);
  color: #ffffff;
  text-align: center;
}
.success .container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 48px);
}
.success .container .content {
  padding: 40px 0px;
  width: 100%;
  max-width: 545px;
}
.success .container .content .logo {
  display: block;
  width: 206px;
  height: auto;
  margin: 0px auto 112px;
}
.success .container .content .title {
  color: #93c90f;
  font-size: 40px;
  margin-bottom: 16px;
}
.success .container .content .subtitle {
  margin-bottom: 24px;
}
.success .container .content p {
  font-size: 24px;
  line-height: 32px;
}

@media (max-width: 1366px) {
  .success .container .content .logo {
    margin-bottom: 64px;
  }
}
@media (max-width: 768px) {
  .success .container .content {
    max-width: 328px;
  }
  .success .container .content .logo {
    width: 160px;
    margin-bottom: 40px;
  }
  .success .container .content .title {
    font-size: 20.9px;
    line-height: 25.08px;
  }
  .success .container .content .subtitle {
    margin-bottom: 40px;
  }
  .success .container .content p {
    font-size: 18.5px;
    line-height: 24px;
  }
}
.error-layout {
  background-color: #004691;
  background: linear-gradient(#004691, #042e5b);
  color: #ffffff;
  text-align: center;
}
.error-layout .container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 48px);
}
.error-layout .container .content {
  padding: 40px 0px;
  width: 100%;
  max-width: 530px;
}
.error-layout .container .content .logo {
  display: block;
  width: 206px;
  height: auto;
  margin: 0px auto 60px;
}
.error-layout .container .content .icon {
  margin-bottom: 16px;
}
.error-layout .container .content .title {
  font-size: 40px;
  margin-bottom: 16px;
}
.error-layout .container .content .subtitle {
  margin-bottom: 40px;
}
.error-layout .container .content p {
  font-size: 24px;
  line-height: 32px;
}
.error-layout .container .content .gn-button {
  width: 100%;
  max-width: 374.63px;
  margin: 0px auto;
}

@media (max-width: 768px) {
  .error-layout .container .content {
    max-width: 328px;
  }
  .error-layout .container .content .logo {
    width: 160px;
    margin-bottom: 40px;
  }
  .error-layout .container .content .title {
    font-size: 20.9px;
    line-height: 25.08px;
  }
  .error-layout .container .content p {
    font-size: 18.5px;
    line-height: 24px;
  }
}
