<main class="offers">
  <div class="container">
    <div class="pull-element-down"></div>
    <div class="cards">
      <div class="card">
        <div class="content">
          <form>
            <header>
              <h2 class="title">TIM Controle <strong>39GB</strong></h2>
              <p class="subtitle">
                Cliente <strong>C6 BANK</strong> ganha
                <span>+5GB adicionais</span>!
              </p>
            </header>

            <section>
              <div class="price">
                <p class="old-price">de: <s>R$99,99</s></p>
                <p class="new-price">
                  <em>
                    <u>por:</u>
                    <u>R$</u>
                  </em>
                  <strong>99,99</strong>
                  <span>
                    <u>*</u>
                    <u>/mês</u>
                  </span>
                </p>
                <small>*Válido por 12 meses.</small>
              </div>

              <button
                class="gn-button pm-button"
                id="btn-card-contratar-agora"
                type="button"
              >
                Contratar agora
              </button>

              <ul class="bonus-list">
                <li>
                  <img
                    src="/images/icons/Icon-Tel.svg"
                    alt="ligacoes"
                    width="20px"
                  />
                  <p class="secondary-paragraph">
                    Ligações <strong>ilimitadas</strong>
                  </p>
                </li>
                <li>
                  <img
                    src="/images/icons/Icon-Envelope.svg"
                    alt="sms"
                    width="20px"
                  />
                  <p class="secondary-paragraph">
                    SMS <strong>ilimitados</strong>
                  </p>
                </li>
              </ul>
            </section>

            <section>
              <div class="apps">
                <div class="top">
                  <h3>Apps <strong>ilimitados</strong></h3>
                  <small>Exceto chamada de voz/vídeo</small>
                </div>
                <div class="unlimiteds images tooltip-container">
                  <img
                    src="/images/icons/logo-whatsapp.svg"
                    alt="WhatsApp"
                    title="WhatsApp"
                  />
                  <img
                    src="/images/icons/logo-facebook.svg"
                    alt="Facebook"
                    title="Facebook"
                  />
                  <img
                    src="/images/icons/logo-twitter.svg"
                    alt="Twitter"
                    title="Twitter"
                  />
                  <img
                    src="/images/icons/logo-instagram.svg"
                    alt="Instagram"
                    title="Instagram"
                  />
                </div>
              </div>
              <div class="apps">
                <div class="top">
                  <h3>Assinaturas <strong>inclusas:</strong></h3>
                </div>
                <div class="signatures images tooltip-container">
                  <img
                    src="/images/icons/banca-de-Jornal.svg"
                    alt="Banca de Jornal"
                    title="Banca de Jornal"
                  />
                  <img
                    src="/images/icons/ico-skeelo.svg"
                    alt="Ebook by Skeelo"
                    title="Ebook by Skeelo"
                  />
                  <img src="/images/icons/reforca.svg" alt="Reforça Light"
                  title="Reforça Light"" />
                </div>
              </div>
            </section>

            <footer>
              <button class="button" type="button" id="btn-ver-detalhes">
                <span>+</span> Ver detalhes
              </button>
              <span class="line"></span>
              <a class="button" href="/" id="btn-regulamento" target="_blank"
                ><span>+</span> Regulamento</a
              >
            </footer>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
